<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/stylesheets/main.css" rel="stylesheet"/>
    <title>Not Found</title>
</head>
<body>
<p class=welcome-message>Welcome to Hangman!</p>
<div class="container" style="height:300px;">
    <img src="/image/Error-404Window-icon.png"/>
    <p>Game not Found. Please return to the Welcome Page to play a new game.</p>
    <br>
    <a href="/">Click here to return to the welcome page.</a>
</div>
</body>
</html>